/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* @group HTML5 element display */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
/* @end group */


/* @group Base */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
/* @end group */


/* @group Links */
a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }
/* @end group */


/* @group Typography */
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* @end group */


/* @group Lists */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
/* @end group */


/* @group Embedded content */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) { overflow: hidden; }
/* @end group */


/* @group Figures */
figure { margin: 0; }
/* @end group */


/* @group Forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

input[type="file"] + input[type="button"] {
  cursor: pointer;
  border: 1px solid #79c7db;
  background-color: #e6faff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6faff), to(#afeeff));
  background-image: -webkit-linear-gradient(top, #e6faff, #afeeff);
  background-image:    -moz-linear-gradient(top, #e6faff, #afeeff);
  background-image:     -ms-linear-gradient(top, #e6faff, #afeeff);
  background-image:      -o-linear-gradient(top, #e6faff, #afeeff);
  background-image:         linear-gradient(top, #e6faff, #afeeff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6faff', EndColorStr='#afeeff');
}

input[type="button"] {
  width: auto;
  height: 25px;
  padding: 4px 10px;
  border: 1px solid #c1c1c1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#d0d0d0));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #d0d0d0);
  background-image:    -moz-linear-gradient(top, #f6f6f6, #d0d0d0);
  background-image:     -ms-linear-gradient(top, #f6f6f6, #d0d0d0);
  background-image:      -o-linear-gradient(top, #f6f6f6, #d0d0d0);
  background-image:         linear-gradient(top, #f6f6f6, #d0d0d0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6', EndColorStr='#d0d0d0');
}
input[type="button"][disabled] {
  /* freestyled these.  might need to be tweaked ^m14t */
  color: #777777;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #c0c0c0);
  background-image:    -moz-linear-gradient(top, #e6e6e6, #c0c0c0);
  background-image:     -ms-linear-gradient(top, #e6e6e6, #c0c0c0);
  background-image:      -o-linear-gradient(top, #e6e6e6, #c0c0c0);
  background-image:         linear-gradient(top, #e6e6e6, #c0c0c0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#c0c0c0');
}

a.btn.view {
  background-color: #ffffff;
  background-image: url(/ua5AdminThemePlugin/ua5_2/img/view.png);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  border: 1px solid #c1c1c1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #4f9db1;
  display: block;
  float: left;
  height: 23px;
  line-height: 23px;
  padding-left: 35px;
  width: 40px;
}
/* @end group */


/* @group Form Autocomplete */
.ui-autocomplete {
  background: #f5f5f5;
  border: 1px solid #bbbbbb;
  list-style-type: none;
  padding: 0;
  position: absolute;
}

.ui-autocomplete .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item a,
.ui-autocomplete .ui-menu-item a:hover {
  color: #333333;
  display: block;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
  zoom: 1;
}

.ui-autocomplete .ui-menu-item a.ui-state-hover {
  background: #ffffff;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

.ui-autocomplete .ui-menu-item:first-child a.ui-state-hover {
  border-top: none;
}

.ui-autocomplete .ui-menu-item:last-child a.ui-state-hover {
  border-bottom: none;  
}

/* @end group */


/* @group Tables */
table { border-collapse: collapse; border-spacing: 0; }

/** From OO CSS : https://github.com/stubbornella/oocss **/
/* **************** TEMPLATE ***************** */
/* ====== Page Head, Body, and Foot ====== */
body {
  _text-align:center; /* IE5.5 */
}
.main {
  display:table-cell;
  *display:block;
  width:auto;
  
  /**!! **/
  overflow: hidden;
}
.body,.main {
  *zoom:1;
}
.body:after,
.main:after {
  clear:both;
  display:block;
  visibility:hidden;
  overflow:hidden;
  height:0 !important;
  line-height:0;
  font-size:xx-large;
  content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.page {
  margin:0 auto;
  width:950px;
  _text-align:left; /* wraps other template elems to set width */ /* text-align IE5.5 */
}
.liquid {
  width:auto;
  margin:0;
}
/* ====== Columns ====== */
.leftCol {
  float:left;
  width:180px;
  _margin-right:-3px;
}
.rightCol {
  float:right;
  width:300px;
  _margin-left:-3px;
}
/* @end group */


/* @group Spacing */
/** 
 * Should be used to modify the default spacing between objects (not between nodes of the same object)
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions! 
 * <type><location><size>
 */
 /* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote, .media {margin: 0px;}
pre{margin: 10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl{padding:0;}
 
/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/
.ptn,.pvn,.pan{padding-top:0px}
.pts,.pvs,.pas{padding-top:5px}
.ptm,.pvm,.pam{padding-top:10px}
.ptl,.pvl,.pal{padding-top:20px}
.prn,.phn,.pan{padding-right:0px}
.prs,.phs,.pas{padding-right:5px}
.prm,.phm,.pam{padding-right:10px}
.prl,.phl,.pal{padding-right:20px}
.pbn,.pvn,.pan{padding-bottom:0px}  
.pbs,.pvs,.pas{padding-bottom:5px}
.pbm,.pvm,.pam{padding-bottom:10px}
.pbl,.pvl,.pal{padding-bottom:20px}
.pln,.phn,.pan{padding-left:0px}
.pls,.phs,.pas{padding-left:5px}
.plm,.phm,.pam{padding-left:10px}
.pll,.phl,.pal{padding-left:20px}
.mtn,.mvn,.man{margin-top:0px}
.mts,.mvs,.mas{margin-top:5px}
.mtm,.mvm,.mam{margin-top:10px}
.mtl,.mvl,.mal{margin-top:20px}
.mrn,.mhn,.man{margin-right:0px}
.mrs,.mhs,.mas{margin-right:5px}
.mrm,.mhm,.mam{margin-right:10px}
.mrl,.mhl,.mal{margin-right:20px}
.mbn,.mvn,.man{margin-bottom:0px}  
.mbs,.mvs,.mas{margin-bottom:5px}
.mbm,.mvm,.mam{margin-bottom:10px}
.mbl,.mvl,.mal{margin-bottom:20px}
.mln,.mhn,.man{margin-left:0px}
.mls,.mhs,.mas{margin-left:5px}
.mlm,.mhm,.mam{margin-left:10px}
.mll,.mhl,.mal{margin-left:20px}
/* @end group */


/* =============================================================================
   Primary styles
   Author: Matt Farmer <matt@useallfive.com>
   ========================================================================== */

/* Color_Priority#{bold}:
 *   1 - Top nav
 *   2 - left nav
 *   3 - filter col
 *   4 - body
 */
.c_p1,
.c_p1_bg {
  background-color: #333333;
}
.c_p1,
.c_p1_fg {
  color: #999999;
}
.c_p1b,
.c_p1b_fg .b {
  color: #ffffff;
}
.c_p3,
.c_p3_bg {
  background-color: #e7faff;
}
.c_p3,
.c_p3_fg {
  color: #687f90;
}
.c_p3b,
.c_p3b_bg {
  background-color: #cee1e9;
}
.c_p3b,
.c_p3b_fg {
  color: #3d3f3f;
}
.c_p3i,
.c_p3i_bg {
  background-color: #e7faff;
}
.c_p3i,
.c_p3i_fg {
  color: #8da4b6;
}
.c_p4,
.c_p4_bg {
  background-color: #ffffff;
}
.c_p4,
.c_p4_fg {
  color: #333333;
}

/**!! anchor color **/
.c_p3 a,
.c_p3_fg a {
  color: #687f90;
  text-decoration: none;
}

.c_p4 a,
.c_p4_fg a {
  color: #333333;
  text-decoration: none;
}

/**!! anchor hover **/
.c_p3 a:hover,
.c_p3_fg a:hover {
  text-decoration: underline;
}

.c_p4 a:hover,
.c_p4_fg a:hover {
  text-decoration: underline;
}


.r_5,
.rt_5,
.rl_5,
.rtl_5 {
  -moz-border-top-left-radiustop: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.r_5,
.rt_5,
.rr_5,
.rtr_5 {
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.r_5,
.rb_5,
.rr_5,
.rbr_5 {
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.r_5,
.rb_5,
.rl_5,
.rbl_5 {
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}


.r_3,
.rt_3,
.rl_3,
.rtl_3 {
  -moz-border-top-left-radiustop: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.r_3,
.rt_3,
.rr_3,
.rtr_3 {
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.r_3,
.rb_3,
.rr_3,
.rbr_3 {
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.r_3,
.rb_3,
.rl_3,
.rbl_3 {
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

/* =============================================================================
   Left Side navigation
   ========================================================================== */
/* for nav column to appear full height */
.body {
  overflow: hidden;
  margin-top: 15px; /**!! more space between content and black bar **/
}
.leftNav,
.nav,
.nav .l1.last {
  list-style: none;
  padding-left: 0px;
  padding-bottom: 20010px;  /* X + padding-bottom */
  margin-bottom: -20000px;  /* X */
}


.nav .l1 {
  border-right: 1px solid #b4d5ee;
}
.nav .l1.active {
  border: 1px solid #b4d5ee;
  border-right: 1px solid #e7faff;
}
.nav .l1>a {
  display: block;
  height: 34px;
  line-height: 34px;
  border-top: 1px solid #dedede;
  color: #666666;
  text-decoration: none;
}
.nav .l1:first-child>a,
.nav .l1.active+li a {
  /* hide the separating bar */
  border-top: 1px solid transparent;
}
.nav .l1.active>a {
  border-top: 1px solid transparent;
}
.nav .l1.page {
  /* FIX:  This is so you can have an admin module called Page
   *       but not have the OOCSS .page class apply to it.
   */
  width: auto;
}
.nav .l1 a .icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin: 9px 10px 0px; 9px;
}
/* =================== */
/* ===== sub nav ===== */
/* =================== */
.nav .l1 ul {
  display: none;
}
.nav .l1.active ul {
  list-style: none;
  font-size: 84%;
  display: block;
}
.nav .l1.active ul li {
  padding-bottom: 10px;
}



/* =============================================================================
   Filter Column
   ========================================================================== */
.sf_admin_bar {
  padding: 20px 7px 10px 10px;
  
  /**!! filter bar blue border **/
  border-color: #B4D5EE;
  border-style: solid;
  border-width: 1px 0;
  
  padding-bottom: 20010px;  /* X + padding-bottom */
  margin-bottom: -20000px;  /* X */
}
.sf_admin_filter {
  padding-left: 10px;
}
.sf_admin_filter ul {
  list-style: none;
  padding-left: 00px;
}
.sf_admin_filter li {
  padding-top: 14px;
}
.sf_admin_filter select {
  max-width: 170px;
}
.sf_admin_filter input[type=text] {
  width: 140px;
  height: 25px;
  padding-left: 5px;
  border: 1px solid #b2c5d3;
  -moz-border-radiustop: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.sf_admin_extras h3 {
  padding-left: 10px;
}
.sf_admin_extras ul {
  list-style: none;
  padding-left: 0px;
}
.sf_admin_extras li {
  list-style: none;
  padding: 10px;
}


/* =============================================================================
   Admin container
   ========================================================================== */
#sf_admin_container {
  padding: 30px;
  
  /**!! content gray border **/
  border-style: solid;
  border-color: #dedede;
  border-width: 1px 1px 1px 0;
}

#sf_admin_container h1 {
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

#sf_admin_container img {
  max-width: 500px;
}

#sf_admin_header {
  margin-bottom: 15px;
}


/**!! list **/

.sf_admin_list table {
  width: 100%;
  border-collapse: separate;
}

.sf_admin_list thead th {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0 1px 0;
}

.sf_admin_list tfoot th {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0 1px 0;
}

/**!! START
      left and right borders on first and last thead/tfoot > th **/
.sf_admin_list thead th:first-child {
  border-width: 1px 0 1px 1px;
}

.sf_admin_list thead th:last-child {
  border-width: 1px 1px 1px 0;
}

.sf_admin_list tfoot th {
  border-width: 1px;
}

/**!! END **/



thead, tfoot {
  text-align: left;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dedede));
  background-image: -webkit-linear-gradient(top, #fefefe, #dedede);
  background-image:    -moz-linear-gradient(top, #fefefe, #dedede);
  background-image:     -ms-linear-gradient(top, #fefefe, #dedede);
  background-image:      -o-linear-gradient(top, #fefefe, #dedede);
  background-image:         linear-gradient(top, #fefefe, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#dedede');
}

/**!! thead/tfood th padding **/
.sf_admin_list thead th, .sf_admin_list tfoot th {
  padding: 8px 10px;
}

/**!! td anchors **/
tr.sf_admin_row td a {
  color: #687f8f;
  text-decoration: underline;
}

.sf_admin_list thead th, .sf_admin_list thead th a {
  color: #666;
}


.sf_admin_list tbody tr td {
  border-bottom: 1px solid #dedede;
  padding: 8px 10px;
  color: #999999;
}

.sf_admin_list .batch_actions {
  width: 30px;
  text-align: center;
}

.sf_admin_list tbody tr:last-child td {
  border-bottom: 0;
}

.sf_admin_list tbody tr:hover td {
  background-color: #f7f7f7;
}

.sf_admin_batch_actions {
  float: right;
}

.sf_admin_actions {
  padding: 0;
  list-style-type: none;
}

.sf_admin_actions li {
  margin-right: 10px;
  display: inline-block;
}

.sf_admin_actions a,
.sf_admin_actions input {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e1;
  padding: 0px 10px;
  text-transform: uppercase;
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
}
.sf_admin_action_save input,
.sf_admin_action_save_and_add input,
.sf_admin_actions a span {
  background: transparent url(admin/action_icons.png) scroll no-repeat 0 0;
  display: inline-block;
  width: 17px;
  height: 30px;
  padding-right: 10px;
}
.sf_admin_action_save input,
.sf_admin_action_save_and_add input {
  color: #ffffff;
  text-shadow: 1px 1px 1px #555;
  background-repeat: repeat-x;
  width: auto;
}
.sf_admin_action_delete a       span  { background-position: 0px  -30px; }
.sf_admin_action_delete a:hover span  { background-position: 0px  -60px; }
.sf_admin_action_list   a       span  { background-position: 0px  -90px; }
.sf_admin_action_list   a:hover span  { background-position: 0px -120px; }
.sf_admin_action_new    a       span  { background-position: 0px -150px; }


/**!! START
 *    Pagination **/
.sf_admin_pagination ul {
  list-style: none;
  float:left;
}
.sf_admin_pagination li {
  float: left;
  margin-right: 6px;
  padding: 3px 7px;
  
  background-color: #fff;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  
  font-size:12px;
  font-weight: bold;
}

.sf_admin_pagination li.active {
  background-color: #687f8f;
  border-color: #687f8f;
  color: #fff;
}

.sf_admin_pagination li a {
  font-size: inherit;
  color: #677e8e;
  outline: none;
}

.sf_admin_pagination .prev_page,
.sf_admin_pagination .next_page {
  float: left;
}
.sf_admin_pagination .prev_page a,
.sf_admin_pagination .next_page a {
  display: block;
  padding-top: 3px;
  color: #677e8e;
}
.sf_admin_pagination .prev_page {
  margin-right: 6px;
}

/**!! END Pagination **/


/* @group Form Errors */
.sf_admin_form .error_list {
  padding: 0;
  list-style-type: none;
}

.sf_admin_form .error_list li {
  display: block;
  margin-bottom: 5px;
  color: #ff0000;
  font-weight: bold;
}

.sf_admin_form .error_list li::before {
  content: '*';
}
/* @end group */


/* =============================================================================
   Edit / Form
   ========================================================================== */

.sf_admin_form {
  border: 1px solid #e1e1e1;
  padding: 20px;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background-image:    -moz-linear-gradient(top, #fefefe, #f4f4f4);
  background-image:     -ms-linear-gradient(top, #fefefe, #f4f4f4);
  background-image:      -o-linear-gradient(top, #fefefe, #f4f4f4);
  background-image:         linear-gradient(top, #fefefe, #f4f4f4);
}

.sf_admin_form fieldset {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #c9c9c9;
  background-color: #fbfbfb;  
  box-shadow: inset 0 0 4px #ddd;
}


.sf_admin_form fieldset h2 {
  margin-bottom: 15px;
  color: #5191bf;
}


.sf_admin_form input[type=text],  .sf_admin_form textarea {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  padding: 5px;
  min-width: 300px;
}

.sf_admin_form textarea {
  min-width:480px;
}

.sf_admin_form select {
  min-width: 350px;
}

.sf_admin_form table.ste select {
  min-width: 0;
}

.sf_admin_form select[id*=_date] {
  min-width: 100px;
}

.sf_admin_form input.big {
  width: 500px;
  font-size: 18px;
}

.sf_admin_form input:-moz-placeholder {
  color: #aaa;
}

.sf_admin_form input::-webkit-input-placeholder {
  color: #aaa;
}

.sf_admin_form .sf_admin_boolean label {
  display: inline-block;
}

.sf_admin_form ul.checkbox_list,
.sf_admin_form ul.radio_list {
  padding: 0;
  list-style-type: none;
}

.sf_admin_form ul.checkbox_list > li,
.sf_admin_form ul.radio_list > li {
  display: inline-block;
  margin-right: 5px;
}

.sf_admin_form_row {
  margin-bottom: 15px;
}

.sf_admin_form_row label {
  display: block;
  font-weight: bold;
}

.sf_admin_form_row input[type="checkbox"] + label {
  display: inline-block;
}

.sf_admin_form_row .content {
  margin-top: 5px;
}

/**!! START
 *    "subfieldsets" for segments form -- mock from jj **/

.sf_admin_form fieldset .subfieldset {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom:20px;
  padding-bottom:20px;
}
.sf_admin_form fieldset .subfieldset:last-child {
  border-bottom:0;
}

.sf_admin_form fieldset .subfieldset h3 {
  margin-bottom: 10px;
  color: #666666;
}

.sf_admin_form fieldset .subfieldset ul {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

.sf_admin_form fieldset .subfieldset ul li {
  float: left;
  margin-right: 15px;
}

/**!! END subfieldsets **/


/**!! START
 *    tabular forms styles **/
.sf_admin_form table {
  width: 100%;
}

.sf_admin_form table th {
  padding: 6px 10px;
  text-align: left;
  font-weight: normal;
  color: #888;
}

.sf_admin_form table td {
  padding: 6px 10px;
}

/**!! END tabular form styles **/


/* =============================================================================
   Main Site
   ========================================================================== */
body {
  min-width: 1020px;
  background-color: #f0f0f0;
}
.container {
  margin: 0px 30px 30px 30px;
  min-width: 960px;
}

header {
  background: transparent url(admin/header_bg.png) scroll repeat-x 0 0;
  height: 46px;
  padding-bottom: 5px;
  line-height: 46px;
}
#header-nav {
  float: right;
}

.ui-sortable .ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(admin/222222_256x240_icons_icons.png);
}
.ui-sortable tr {
  cursor: pointer;
}
.ui-sortable .ui-icon.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/*
.page { background-color: green; }
.leftCol { background-color: red; }
.main .leftCol { background-color: purple; }
.main { background-color: yellow; }
*/


/* For embeded forms */

table.embeded_form>tbody>tr>th {
  display: none;
}



/* For media */
.sf_admin_form_row .media {
  /*  border: 1px solid red;*/
}

.sf_admin_form_row .media .thumb {
  float: left;
  height: 100px;
  margin-right: 15px;
  width: 100px;
  background-color: #f5f5f5;
}

.sf_admin_form_row .media .thumb img {
  float: left;
  width: 100px;
}

.sf_admin_form_row .media ul {
  padding: 0;
  list-style-type: none;
}

.sf_admin_form_row .media li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}



/* For inline lists -- with clearfix */
ul {
  margin: 0px;
}
ul.il>li {
  list-style: none;
  list-style-image: none;
  display: block;
  float: left;
  padding-left: 20px;
}
.il:before, .il:after { content: ""; display: table; }
.il:after { clear: both; }
.il { zoom: 1; }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
