
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color:#e6e6e6;
}

iframe.wysihtml5-sandbox,
.ua5-wysiwyg-toolbar + textarea {
  width: 80% !important;
  height: 150px !important;
}

.ua5-wysiwyg-toolbar {
  margin-bottom: 5px;
}

.ua5-wysiwyg-toolbar .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  margin-right: .25em;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  position: relative;
  float: left;
}

.ua5-wysiwyg-toolbar .btn.wysihtml5-command-active,
.wysihtml5-action-active {
  background-image: none !important;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05) !important;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05) !important;
  background-color: #E6E6E6 !important;
  background-color: #D9D9D9 !important;
  outline: 0 !important;
}

.ua5-wysiwyg-toolbar > a > i {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url('../img/wysiwyg-sprite.png');
  background-repeat: no-repeat;
  *margin-right: .3em;
}

.ua5-wysiwyg-toolbar > a > span {
  float: right;
  font-size: 12px;
  line-height: 22px;
  margin-left: 5px;
}

.ua5-wysiwyg-toolbar > span.separator {
  float: left;
  height: 1em;
  width: .75em;
}

.ua5-wysiwyg-toolbar .btn i.icon-bold { background-position: 0 0; width: 28px; }
.ua5-wysiwyg-toolbar .btn i.icon-italic { background-position: -30px 0; width: 27px; }
.ua5-wysiwyg-toolbar .btn i.icon-underline { background-position: -59px 0; width: 28px; }
.ua5-wysiwyg-toolbar .btn i.icon-justify-left { background-position: -90px 0; width: 15px; }
.ua5-wysiwyg-toolbar .btn i.icon-justify-center { background-position: -109px 0; width: 15px; }
.ua5-wysiwyg-toolbar .btn i.icon-justify-right { background-position: -128px 0; width: 15px; }
.ua5-wysiwyg-toolbar .btn i.icon-h1 { background-position: -146px 0; width: 15px; }
.ua5-wysiwyg-toolbar .btn i.icon-h2 { background-position: -164px 0; width: 15px; }
.ua5-wysiwyg-toolbar .btn i.icon-h3 { background-position: -180px 0; width: 15px; }
.ua5-wysiwyg-toolbar .btn i.icon-unordered-list { background-position: -196px 0; width: 16px; }
.ua5-wysiwyg-toolbar .btn i.icon-ordered-list { background-position: -216px 0; width: 16px; }
.ua5-wysiwyg-toolbar .btn i.icon-link { background-position: -236px 0; width: 16px; }
.ua5-wysiwyg-toolbar .btn i.icon-image { background-position: -256px 0; width: 16px; }
.ua5-wysiwyg-toolbar .btn i.icon-speech { background-position: -276px 0; width: 16px; }
.ua5-wysiwyg-toolbar .btn i.icon-source { background-position: -296px 0; width: 16px; }

.ua5-wysiwyg-toolbar-options {
  float: left;
  padding: 20px 0;
}

.ua5-wysiwyg-toolbar-options [data-wysihtml5-dialog] {
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  float: left;
  clear: left;
  margin: 10px 0;
  padding: 20px;
}

.ua5-wysiwyg-toolbar-options [data-wysihtml5-dialog] label {
  display: block;
  margin-bottom: 15px;
}

.ua5-wysiwyg-toolbar-options [data-wysihtml5-dialog] label input {
  border: 1px solid #CCC;
  margin-left: 5px;
  padding: 5px;
  width: 400px;
}

.ua5-wysiwyg-toolbar-options [data-wysihtml5-dialog] label .chzn-container {
  margin-left: 5px;
  width: auto !important;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-decoration-underline {
  text-decoration: underline;
}